pytest:
pytest==9.1.1
pytest==8.3.4pytest-cov==6.0.0      # Для генерации отчетов о покрытии кода тестами
pytest-mock==3.14.0     # Для создания моков (подмены объектов)
pytest-xdist==3.6.1    # Для запуска тестов в несколько потоков (параллельно)
